DataStructure/bin/
DataStructure/.classpath
DataStructure/.project
DataStructure/src/module-info.java

Java/bin/
Java/.classpath
Java/.project
Java/src/module-info.java

ComputerScience/bin/
ComputerScience/.classpath
ComputerScience/.project
ComputerScience/src/module-info.java